<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMSAppDev">
        <activity
            android:name=".Calender_Activity"
            android:exported="false" />
        <activity
            android:name=".Quiz_Detail_Acitivity"
            android:exported="false" />
        <activity
            android:name=".Assignment_Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".Announcement_Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".AllCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".AllCoursesActivity"
            android:exported="false" /> <!-- Register Screen -->
        <activity
            android:name=".register"
            android:exported="false" /> <!-- Login is the FIRST screen -->
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Dashboard Screen -->
        <activity
            android:name=".dashboard"
            android:exported="false" /> <!-- Course Detail Screen -->
        <activity
            android:name=".course_detail"
            android:exported="false" /> <!-- MainActivity (not used as launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AnnouncementDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AssignmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".QuizDetailActivity"
            android:exported="false" />
    </application>

</manifest>